.scroll {
  position: absolute;
  width: 1140px;
  height: 400px;
  padding: 120px 0 120px 0;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 45px;
  row-gap: 30px;
  &__descr {
    display: flex;
    justify-content: space-between;
  }
  &__divider {
    position: relative;
    width: 350px;
    height: 14px;
    margin-top: 20px;
    background: #e8e4de;
    border-radius: 4px;
    span {
      display: block;
      height: 100%;
      background-color: $main-color;
      border-radius: 4px;
    }
  }
  &__title {
    position: relative;
    padding: 1px 0 0 12px;
    @include before_circle;
  }
}
